<div class="row">
    <div class="col">
        <button class="btn btn-info form-control" type="submit">
            Save
        </button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">
            Back To List
        </a>
    </div>
</div>