@using Ecom_Project_2026.Utility
@inject IHttpContextAccessor httpContextAccessor
@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MantraKart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecom_Project_2026.styles.css" asp-append-version="true" />
    @* CSS REFERENCES *@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ecom_Project_2026</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-area=""  asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">Content Management</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Cover Type</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    @* <a class="dropdown-item" href="#">Something else here</a> *@
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Company / User</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Company</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        }
                        @if(httpContextAccessor.HttpContext.Session.GetInt32(SD.Ss_CartSessionCount) !=null 
                        && httpContextAccessor.HttpContext.Session.GetInt32(SD.Ss_CartSessionCount) !=0)
                        {
                            var count = httpContextAccessor.HttpContext.Session.GetInt32(SD.Ss_CartSessionCount);
                            <li>
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link text-white">
                                    <i class="fas fa-shopping-cart"></i>&nbsp; (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-white">
                                    <i class="fas fa-shopping-cart"></i>&nbsp; (0)
                                </a>
                            </li>
                        }
                        @* <form class="form-inline my-2 my-lg-0" asp-controller="Products" asp-action="Search" method="get">
                            <select class="form-control mr-2" name="searchType">
                                <option value="Title">Title</option>
                                <option value="Author">Author</option>
                                <option value="All">All</option>
                            </select>

                            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search..." />

                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form> *@
                    </ul>
                   
                    <partial name="_LoginPartial" />
                </div>
            </div>
            <a class="navbar-brand d-flex align-items-center" asp-area="Customer" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo/ChatGPT Image Jul 9, 2026, 12_22_59 AM.png"
                     alt="MantraKart"
                     style="height:130px; margin-right:5px;" />
                     
                @* <span class="fw-bold text-dark">MantraKart</span> *@
            </a>

        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - MantraKart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo/MantraKart Logo.png"
                             alt="MantraKart"
                             text-align="end"
                             style="height:70px;" />
                    </a> *@
 <footer class="bg-dark text-light pt-5 pb-4">
  <div class="container text-md-left">
    <div class="row">

      <!-- About -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">MantraKart</h5>
        <p>Spiritual shopping made simple. Discover mantras, idols, books, and wellness products with divine energy.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
                    <p><a asp-area="Customer" asp-controller="Home" asp-action="Index" class="text-light text-decoration-none">Home</a></p>
        @* <p><a href="#" class="text-light text-decoration-none">Shop</a></p> *@
        <p><a asp-area="Customer" asp-controller="Home" asp-action="ContactUs" class="text-light text-decoration-none">Contact Us</a></p>
      </div>

      <!-- Customer Service -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Customer Service</h5>
        <p><a asp-area="Customer" asp-controller="Home" asp-action="FAQa" class="text-light text-decoration-none">FAQs</a></p>
        <p><a asp-area="Customer" asp-controller="Home" asp-action="ShippingReturns" class="text-light text-decoration-none">Shipping & Returns</a></p>
        <p><a asp-area="Customer" asp-controller="Home" asp-action="Privacy" class="text-light text-decoration-none">Privacy Policy</a></p>
      </div>

      <!-- Contact -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
        <p><i class="fas fa-home me-2"></i> Pinjore, Haryana, India</p>
        <p><i class="fas fa-envelope me-2"></i> support@mantrakart.com</p>
        <p><i class="fas fa-phone me-2"></i> +91 98765 43210</p>
        <p><i class="fas fa-clock me-2"></i> Mon–Sat: 9am–6pm</p>
      </div>

    </div>

    <!-- Social + Newsletter -->
    @* <div class="row mt-4">
      <div class="col-md-6">
        <form class="d-flex">
          <input type="email" class="form-control me-2" placeholder="Subscribe to our newsletter">
          <button class="btn btn-warning">Subscribe</button>
        </form>
      </div> *@

            <div class="col-md-6 text-end">
                <!-- Facebook -->
                <a href="https://www.facebook.com"
                   target="_blank"
                   class="text-light me-3">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Instagram -->
                <a href="https://www.instagram.com"
                   target="_blank"
                   class="text-light me-3">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- YouTube -->
                <a href="https://www.youtube.com/c"
                   target="_blank"
                   class="text-light me-3">
                    <i class="fab fa-youtube"></i>
                </a>

                <!-- Twitter -->
                <a href="https://twitter.com"
                   target="_blank"
                   class="text-light">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
    

    <!-- Copyright -->
    <div class="row mt-4">
      <div class="col text-center">
        <p class="mb-0">&copy; 2026 MantraKart. All rights reserved.
            <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
                        @* <img src="~/images/logo/MantraKart Logo.png" *@
                        <h2 class="text-primary">MantraKart</h2>
                    </a>
        </p>
      </div>
    </div>
  </div>
</footer>
       
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* @JAVASCRIPT REFERENCES@ *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/61c240c0a9.js" crossorigin="anonymous"></script>
    @* <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
