@{
    ViewData["Title"] = "Contact Us";
}

<div class="container my-5">
    <h2 class="text-info mb-3">Contact Us</h2>
    <p class="text-muted">We are always happy to help you. Reach out to us using the details below:</p>

    <div class="row">
        <div class="col-md-6">
            <h5 class="fw-bold">Our Office</h5>
            <p><i class="fa fa-map-marker text-danger"></i> Pinjore, Haryana, India</p>
            <p><i class="fa fa-phone text-success"></i> +91-9876543210</p>
            <p><i class="fa fa-envelope text-warning"></i> support@ecom2026.com</p>
        </div>

       @*  <div class="col-md-6">
            <h5 class="fw-bold">Follow Us</h5>
            <a href="#" class="me-3"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="#" class="me-3"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
        </div> *@
    </div>
</div>